<h1>Using React + Redux + Rails Backend (using the react_on_rails gem)</h1>
<ul>
  <li>
    Please see the
    <%= link_to "github.com/shakacode/react-webpack-rails-tutorial/README.md",
        "https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/README.md" %>
    for details of how this example site was built.
  </li>
</ul>
<hr/>
<%= react_component('App', @comments, generator_function: true, prerender: true) %>
