<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactTutorial</title>
    <%= stylesheet_link_tag    'reimagine2', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="foundation-grid">
    <%= render 'reimagine2/devpost/global_nav' %>

    <main role="main" class="main container">
      <div class="content-section row">
        <div class="content-columns large-12 columns">
          <%= yield %>
        </div>
      </div>
    </main>

    <%= render 'reimagine2/devpost/footer' %>
  </body>
</html>
